* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    /* height: 100vh; */
    min-width: 360px;
    /* background: #F7F7F7; */
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-red: #ff0000;
}

.text-main {
    color: var(--main-red) !important;
}

.bg-main {
    background: var(--main-red);
}

.bg-main-light {
    background: #F7F7F7;
}


.homeBanner {
    background-image: url('public/Group 6.png');
    background-repeat: no-repeat;
    background-position: right;
}


.accordion-button:not(.collapsed) {
    background-color: var(--main-red) !important;
    color: #fff;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('public/images/rounded minus icon.png');
}

.accordion-button::after {
    background-image: url('public/images/rounded plus icon.png');
}


.slick-next:before,
.slick-prev:before {
    color: #ff0000;
    font-size: 30px;
}


.slick-prev{
    left: 20px;
    z-index: 2;
}

.slick-next{
    right: 30px;
}